.history-toggle {
  margin-top: 0px;
  padding: 10px;
  font-size: 0.7rem;
  background-color: #333333;
  border: 1px solid #ccc;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.history-toggle:hover {
  background-color: #0056b3;
}

.history-toggle.light {
  background-color: #f9f9f9;
  color: black;
}

.history-toggle.dark {
  background-color: #333;
  color: white;
}

.history-toggle.light:hover {
  background-color: #e0e0e0;
}

.history-toggle.dark:hover {
  background-color: #555;
}


.history-container {
  margin-top: 20px;
  padding: 10px;
  border-top: 2px solid #ccc;
}

.history-container.dark {
  background-color: #333;
  color: white;
}

.history-container.light {
  background-color: #f9f9f9;
  color: black;
}

.history-container h3 {
  font-size: 1.2rem;
}

.history-list {
  list-style-type: none;
  padding-left: 0;
}

.history-item {
  background-color: #f9f9f9;
  margin-bottom: 5px;
  padding: 8px;
  border-radius: 4px;
}

.history-item:hover {
  background-color: #e0e0e0;
}

.history-container.dark .history-item {
  background-color: #555;
}

.history-container.dark .history-item:hover {
  background-color: #777;
}


